#helpdesk-teaser-image {
  max-width: 210px;
  height: 0px;
}

@media all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation:landscape) {
  #helpdesk-teaser-image {
    height: 80px;
  }

  .DSC_1291_besk {
    background-image: url('../images/narrow/DSC_1291_besk.png');
  }
  .DSC_1292_besk {
    background-image: url('../images/narrow/DSC_1292_besk.png');
  }
  .DSC_1297_besk {
    background-image: url('../images/narrow/DSC_1297_besk.png');
  }
  .DSC_1303_besk {
    background-image: url('../images/narrow/DSC_1303_besk.png');
  }
  .DSC_1313_besk {
    background-image: url('../images/narrow/DSC_1313_besk.png');
  }
  .DSC_1316_besk {
    background-image: url('../images/narrow/DSC_1316_besk.png');
  }
  .DSC_1320_besk {
    background-image: url('../images/narrow/DSC_1320_besk.png');
  }
  .DSC_1334_besk {
    background-image: url('../images/narrow/DSC_1334_besk.png');
  }
  .DSC_1342_besk {
    background-image: url('../images/narrow/DSC_1342_besk.png');
  }
  .DSC_1343_besk {
    background-image: url('../images/narrow/DSC_1343_besk.png');
  }
  .DSC_1353_besk {
    background-image: url('../images/narrow/DSC_1353_besk.png');
  }
  .DSC_1357_besk {
    background-image: url('../images/narrow/DSC_1357_besk.png');
  }
  .DSC_1361_besk {
    background-image: url('../images/narrow/DSC_1361_besk.png');
  }
  .DSC_1365_besk {
    background-image: url('../images/narrow/DSC_1365_besk.png');
  }
  .DSC_1372_besk {
    background-image: url('../images/narrow/DSC_1372_besk.png');
  }
  .DSC_1374_besk {
    background-image: url('../images/narrow/DSC_1374_besk.png');
  }
  .DSC_1381_besk {
    background-image: url('../images/narrow/DSC_1381_besk.png');
  }
  .DSC_1385_besk {
    background-image: url('../images/narrow/DSC_1385_besk.png');
  }
}

@media all and (min-width: 980px) and (min-device-width: 980px), all and (max-device-width: 1024px) and (min-width: 1024px) and (orientation:landscape) {
  #helpdesk-teaser-image {
    height: 115px;
  }

  .DSC_1291_besk {
    background-image: url('../images/normal/DSC_1291_besk.png');
  }
  .DSC_1292_besk {
    background-image: url('../images/normal/DSC_1292_besk.png');
  }
  .DSC_1297_besk {
    background-image: url('../images/normal/DSC_1297_besk.png');
  }
  .DSC_1303_besk {
    background-image: url('../images/normal/DSC_1303_besk.png');
  }
  .DSC_1313_besk {
    background-image: url('../images/normal/DSC_1313_besk.png');
  }
  .DSC_1316_besk {
    background-image: url('../images/normal/DSC_1316_besk.png');
  }
  .DSC_1320_besk {
    background-image: url('../images/normal/DSC_1320_besk.png');
  }
  .DSC_1334_besk {
    background-image: url('../images/normal/DSC_1334_besk.png');
  }
  .DSC_1342_besk {
    background-image: url('../images/normal/DSC_1342_besk.png');
  }
  .DSC_1343_besk {
    background-image: url('../images/normal/DSC_1343_besk.png');
  }
  .DSC_1353_besk {
    background-image: url('../images/normal/DSC_1353_besk.png');
  }
  .DSC_1357_besk {
    background-image: url('../images/normal/DSC_1357_besk.png');
  }
  .DSC_1361_besk {
    background-image: url('../images/normal/DSC_1361_besk.png');
  }
  .DSC_1365_besk {
    background-image: url('../images/normal/DSC_1365_besk.png');
  }
  .DSC_1372_besk {
    background-image: url('../images/normal/DSC_1372_besk.png');
  }
  .DSC_1374_besk {
    background-image: url('../images/normal/DSC_1374_besk.png');
  }
  .DSC_1381_besk {
    background-image: url('../images/normal/DSC_1381_besk.png');
  }
  .DSC_1385_besk {
    background-image: url('../images/normal/DSC_1385_besk.png');
  }
}

@media all and (min-width: 1220px) {
  #helpdesk-teaser-image {
    height: 145px;
  }

  .DSC_1291_besk {
    background-image: url('../images/wide/DSC_1291_besk.png');
  }
  .DSC_1292_besk {
    background-image: url('../images/wide/DSC_1292_besk.png');
  }
  .DSC_1297_besk {
    background-image: url('../images/wide/DSC_1297_besk.png');
  }
  .DSC_1303_besk {
    background-image: url('../images/wide/DSC_1303_besk.png');
  }
  .DSC_1313_besk {
    background-image: url('../images/wide/DSC_1313_besk.png');
  }
  .DSC_1316_besk {
    background-image: url('../images/wide/DSC_1316_besk.png');
  }
  .DSC_1320_besk {
    background-image: url('../images/wide/DSC_1320_besk.png');
  }
  .DSC_1334_besk {
    background-image: url('../images/wide/DSC_1334_besk.png');
  }
  .DSC_1342_besk {
    background-image: url('../images/wide/DSC_1342_besk.png');
  }
  .DSC_1343_besk {
    background-image: url('../images/wide/DSC_1343_besk.png');
  }
  .DSC_1353_besk {
    background-image: url('../images/wide/DSC_1353_besk.png');
  }
  .DSC_1357_besk {
    background-image: url('../images/wide/DSC_1357_besk.png');
  }
  .DSC_1361_besk {
    background-image: url('../images/wide/DSC_1361_besk.png');
  }
  .DSC_1365_besk {
    background-image: url('../images/wide/DSC_1365_besk.png');
  }
  .DSC_1372_besk {
    background-image: url('../images/wide/DSC_1372_besk.png');
  }
  .DSC_1374_besk {
    background-image: url('../images/wide/DSC_1374_besk.png');
  }
  .DSC_1381_besk {
    background-image: url('../images/wide/DSC_1381_besk.png');
  }
  .DSC_1385_besk {
    background-image: url('../images/wide/DSC_1385_besk.png');
  }

}

