#helpdesk-teaser-image {
  width: 140px;
  height: 112px;
}

.DSC_1291_besk {
  background-image: url('/sites/default/modules/bibdk_helpdesk/images/normal/DSC_1291_besk.png');
}
.DSC_1292_besk {
  background-image: url('/sites/default/modules/bibdk_helpdesk/images/normal/DSC_1292_besk.png');
}
.DSC_1297_besk {
  background-image: url('/sites/default/modules/bibdk_helpdesk/images/normal/DSC_1297_besk.png');
}
.DSC_1303_besk {
  background-image: url('/sites/default/modules/bibdk_helpdesk/images/normal/DSC_1303_besk.png');
}
.DSC_1313_besk {
  background-image: url('/sites/default/modules/bibdk_helpdesk/images/normal/DSC_1313_besk.png');
}
.DSC_1316_besk {
  background-image: url('/sites/default/modules/bibdk_helpdesk/images/normal/DSC_1316_besk.png');
}
.DSC_1320_besk {
  background-image: url('/sites/default/modules/bibdk_helpdesk/images/normal/DSC_1320_besk.png');
}
.DSC_1334_besk {
  background-image: url('/sites/default/modules/bibdk_helpdesk/images/normal/DSC_1334_besk.png');
}
.DSC_1342_besk {
  background-image: url('/sites/default/modules/bibdk_helpdesk/images/normal/DSC_1342_besk.png');
}
.DSC_1343_besk {
  background-image: url('/sites/default/modules/bibdk_helpdesk/images/normal/DSC_1343_besk.png');
}
.DSC_1353_besk {
  background-image: url('/sites/default/modules/bibdk_helpdesk/images/normal/DSC_1353_besk.png');
}
.DSC_1357_besk {
  background-image: url('/sites/default/modules/bibdk_helpdesk/images/normal/DSC_1357_besk.png');
}
.DSC_1361_besk {
  background-image: url('/sites/default/modules/bibdk_helpdesk/images/normal/DSC_1361_besk.png');
}
.DSC_1365_besk {
  background-image: url('/sites/default/modules/bibdk_helpdesk/images/normal/DSC_1365_besk.png');
}
.DSC_1372_besk {
  background-image: url('/sites/default/modules/bibdk_helpdesk/images/normal/DSC_1372_besk.png');
}
.DSC_1374_besk {
  background-image: url('/sites/default/modules/bibdk_helpdesk/images/normal/DSC_1374_besk.png');
}
.DSC_1381_besk {
  background-image: url('/sites/default/modules/bibdk_helpdesk/images/normal/DSC_1381_besk.png');
}
.DSC_1385_besk {
  background-image: url('/sites/default/modules/bibdk_helpdesk/images/normal/DSC_1385_besk.png');
}
